name: wine-9.20-custom CI

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v4
      - name: Download artifact
        id: download-artifact
        uses: dawidd6/action-download-artifact@v3
        with:
          workflow: bootstraps.yml
          workflow_conclusion: success
          path: /opt
      - name: Build Wine
        run: |
          sudo apt update
          sudo apt install debootstrap perl git wget xz-utils bubblewrap autoconf
          sudo tar -C /opt -xpf /opt/Bootstraps/bootstraps.tar.xz
          chmod +x build_wine-test.sh
          export WINE_VERSION="9.20"
          export EXPERIMENTAL_WOW64="true"
          WINE_BRANCH=vanilla ./build_wine-test.sh
          sha256sum *.tar.xz
      - uses: actions/upload-artifact@v4
        with:
          name: wine-9.20-custom
          path: ./*.tar.xz
